.button,
.button:link,
.button:visited,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-sizing: border-box;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  height: 50px;
  letter-spacing: 0.05em;
  line-height: 50px;
  margin-bottom: 0.6em;
  padding: 0px 20px 0px 20px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
}

.button:hover,
.button:focus,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  border: 1px solid #444;
  color: #555;
}

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
  color: #000;
  border: 1px solid #000;
}

.button.small,
button.small,
input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small {
  height: 35px;
  font-size: 0.7em;
  line-height: 35px;
}

.button.medium,
button.medium,
input[type="submit"].medium,
input[type="reset"].medium,
input[type="button"].medium {
  height: 55px;
  font-size: 1em;
  line-height: 55px;
  padding: 0px 22px;
}

.button.large,
button.large,
input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large {
  height: 60px;
  font-size: 1.2em;
  line-height: 60px;
  padding: 0px 28px;
}

.button.full-width, 
.button.full-width:link,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; 
}